# some utility scripts are useful to have in ~/bin
# some scripts (stack) install things in ~/.local/bin
export PATH="$HOME/bin:$HOME/.local/bin:$PATH"

# scala may need this?
export JAVA_HOME="`/usr/libexec/java_home`"

# -R makes it support ANSI colors
# -F makes it exit automatically if one screen only
export PAGER='less -RF'

# virtualenvwrapper config
export WORKON_HOME=$HOME/.virtualenvs
export VIRTUALENVWRAPPER_PYTHON=`which python3`
source /usr/local/bin/virtualenvwrapper.sh

# show virtualenv in prompt
export VIRTUAL_ENV_DISABLE_PROMPT=

# for ls to display colors
unset LSCOLORS

# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
export PATH="$PATH:$HOME/.rvm/bin"

# FZF
export FZF_DEFAULT_OPTS="-m -1 -0 --history=$HOME/.fzf_history --reverse --min-height 15 --bind '?:toggle-preview' --color=dark"
export FZF_COMPLETION_OPTS="--preview=\"file -b {}\" --preview-window=down:1"
export FZF_CTRL_R_OPTS="--preview 'echo {}' --preview-window down:3:wrap:hidden"
export FZF_ALT_C_OPTS="--preview 'ls -A {}' --preview-window right:25%:hidden"
if hash rg 2>/dev/null; then
    export FZF_DEFAULT_COMMAND='rg --hidden --follow -uuu --files --no-messages'
fi
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm" # Load RVM into a shell session *as a function*
