# This is Git's per-user configuration file.
[user]
	name = Jorge Diz Pico
	email = xurxo@xurxodiz.eu

[merge]
	ff = only

[push]
	default = current

[pull]
	rebase = true

[alias]
	hist = log --pretty=format:\"%Cred%h%Creset %C(yellow)%ad%Creset %s%Cgreen%d%Creset %C(blue)[%an]%Creset\" --graph --date=iso
	lg = log --pretty=format:\"%Cred%h%Creset%Cgreen%d%Creset %s %C(blue)<%an>%Creset %C(yellow)[%ad]%Creset\" --graph --date=short
	update = pull --ff-only
	lga = !git lg --all
	undo-add = reset
	undo-commit = reset --soft HEAD~1
	undo-stage = reset HEAD --
	undo-changes = checkout --
	undo-changes-all = reset --hard
	fresh = clean -dfX
	iff = !git diff $(git merge-base HEAD integration) HEAD
	miff = !git diff $(git merge-base HEAD master) HEAD
	# check how the merge of dev into master will go: git dry-merge dev master
	dry-merge = "!f() { git merge-tree `git merge-base $2 $1` $2 $1; }; f"

[color]
	ui = true

[credential]
	helper = cache --timeout=30000

[core]
	editor = vim
	pager = diff-so-fancy | $PAGER

# This will replace "https://github.com" with "git@github.com" in the remote URL, but only when pushing (so it uses ssh for push)
[url "git@github.com:"]
	pushInsteadOf = https://github.com/

[includeIf "gitdir:~/repos/"]
	path = ~/repos/.gitconfig
